<div class="container">

    <!-- Form Header -->
    <h2 class="login-header">{{ 'Password reset' | translate }}</h2>

    <form [formGroup]="passwResetForm" (ngSubmit)="onSubmit()">

        <!-- Username input -->
        <div class="row">

            <mat-form-field>
                <mat-label>Username</mat-label>
                <input matInput type="text" formControlName="username" placeholder="i.e username@user.name">
            </mat-form-field>

            <!-- Conditional for username input error details -->
            @if (passwResetForm.controls['username'].invalid && (passwResetForm.controls['username'].dirty || passwResetForm.controls['username'].touched)) {
                <mat-error class="error-detail">{{ getErrorMessage() }}</mat-error>
            }

        </div>

    
        <!-- Submit button -->
        <div class="submit-button">
            <button [disabled]="!passwResetForm.valid" class="action-btn" mat-raised-button color="accent" type="submit">Submit</button>
        </div>
        
    </form>
</div>