<mat-toolbar class="mb-3" color="primary">
    <span>Garment Inventory Management</span>
    <span class="spacer"></span>
</mat-toolbar>

<div class="container mt-5">

    <!-- Form Header -->
    <h2 class="login-header">{{ 'Password reset' | translate }}</h2>

    <form [formGroup]="passwResetForm" (ngSubmit)="onSubmit()">

        <!-- Username input -->
        <div class="row">

            <mat-form-field>
                <mat-label>Username</mat-label>
                <input matInput type="text" formControlName="username" placeholder="i.e username@user.name">
    
                <!-- Conditional for username input error details -->
                <mat-error class="error-detail">{{ getErrorMessage() }}</mat-error>

            </mat-form-field>

        </div>

    
        <!-- Submit button -->
        <div class="submit-button">
            <button [disabled]="!passwResetForm.valid" class="action-btn" mat-raised-button color="accent" type="submit">Submit</button>
        </div>
        
    </form>
</div>