<div class="container">
    
    <!-- Header -->
    <div mat-dialog-title class="text-center">
        <h1>Password Reset Form</h1>
    </div>

    <!-- Password Reset Form -->
    <form [formGroup]="passwForm" (ngSubmit)="onSubmit()">
        
        <div mat-dialog-content class="content">
            <div class="row">
                <mat-form-field appearance="outline">

                    <mat-label>New Password</mat-label>

                    <input matInput type="{{ hide ? 'password' : 'text' }}" formControlName="password">

                    <mat-icon matSuffix (click)="hide = !hide">{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
                </mat-form-field>
            </div>
        </div>

        <!-- Submit button -->
        <div class="submit-button">
            <button [disabled]="!passwForm.valid" class="action-btn" mat-raised-button color="accent" type="submit">Submit</button>
        </div>
    
    </form>
    
</div>