<div class="container">
    
    <!-- Header -->
    <div mat-dialog-title class="text-center">
        <h1>Password Reset Form</h1>
    </div>

    <!-- Password Reset Form -->
    <form [formGroup]="passwForm" (ngSubmit)="onSubmit()">
        
        <div mat-dialog-content class="content">

            <!-- Create new passwords -->
            <div class="row">
                <mat-form-field appearance="outline">

                    <mat-label style="font-size: 14px;">Create new password</mat-label>

                    <input matInput type="{{ hide ? 'password' : 'text' }}" formControlName="password">

                    <mat-icon matSuffix (click)="hide = !hide">{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
                    <!-- Conditional for password input error details -->
                    @if (passwForm.controls['password'].invalid && (passwForm.controls['password'].dirty || passwForm.controls['password'].touched)) {
                        <mat-error>
                            {{ getErrorMessage() }}
                        </mat-error>
                    }
                </mat-form-field>
            </div>

            <!-- Confirm new password -->
            <div class="con">
                <mat-form-field appearance="outline">

                    <mat-label style="font-size: 14px;">Confirm new password</mat-label>

                    <input matInput type="{{ hide1 ? 'password' : 'text' }}" formControlName="confPassword">
                    <mat-icon matSuffix (click)="hide1 = !hide1">{{ hide1 ? 'visibility_off' : 'visibility' }}</mat-icon>
                </mat-form-field>
                
                <!-- Conditional if the input does not match the prior passw value -->
                @if ((passwForm.controls['confPassword'].touched || passwForm.controls['confPassword'].dirty) && (passwForm.controls['password'].value !== passwForm.controls['confPassword'].value)) {
                    <mat-error class="error-detail">
                        Password does not match
                    </mat-error>
                }
            </div>
        </div>

        <!-- Submit button -->
        <div class="submit-button mb-5">
            <button [disabled]="!passwForm.valid || (passwForm.controls['password'].value !== passwForm.controls['confPassword'].value)" class="action-btn" mat-raised-button color="accent" type="submit">Submit</button>
        </div>
    
    </form>
    
</div>