.submit-button {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}

.action-btn {
    background-color: green !important;
}

.con {
    margin-top: 1rem;
}

.error-detail {
    display: block;
    font-size: 12px;
    margin-top: -1.5rem;
}