<mat-toolbar class="mb-3" color="primary">
    <span>Garment Inventory Management</span>
    <span class="spacer"></span>
    
    <!-- Localization -->
    <select class="form-select-sm" (change)="changeLanguage($event)">
        <option value="en-US">English</option>
        <option value="id">Bahasa Indonesia</option>
    </select>

  </mat-toolbar>

<div class="container">

    <!-- Form Header -->
    <h2 class="login-header">{{ 'LOGIN' | translate }}</h2>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

        <!-- Username input -->
        <div class="row">

            <mat-form-field>
                <mat-label>Username</mat-label>
                <input matInput type="text" formControlName="username" placeholder="i.e username@user.name">

                <!-- Conditional for username input error details -->
                <mat-error class="error-detail">{{ getErrorMessage(1) }}</mat-error>

            </mat-form-field>


        </div>

        <!-- Password input -->
        <div class="row mt-3">

            <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput type="{{ hide ? 'password' : 'text' }}" formControlName="password">
                <mat-icon matSuffix (click)="hide = !hide">{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>

                <!-- Conditional for password input error details -->
                <mat-error class="error-detail">{{ getErrorMessage(2) }}</mat-error>
                
            </mat-form-field>


        </div>


        <div class="act d-flex flex-column">
            <div class="forgot-password row mt-3 text-end">
                <a (click)="resetPasswordToken()" routerLink="/password-reset">{{ 'Forgot Password' | translate }}</a>
            </div>
    
            <!-- Login button -->
            <div class="login-button">
                <button [disabled]="!loginForm.valid" class="action-btn" mat-raised-button color="accent" type="submit">{{ 'LOGIN' | translate }}</button>
            </div>
        </div>
        
    </form>
</div>
<router-outlet></router-outlet>