.spacer {
    flex: 1 1 auto;
}

.login-button {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}

.action-btn {
    background-color: green !important;
}

.login-header {
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
}
